<nav class="nav collapsible">
    <a href="/"><img src="images/1699020609Bird3b.svg" width="100px" height="100px">
    <h3 class="nav__header">Bossify</h3></a>
    
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item" ><a href="#">Hosting</a></li>
      <li class="nav__item"><a href="#">VPS</a></li>
      <li class="nav__item"><a href="#">Domain</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
  
    </ul>
   </nav>